{% extends 'main/base.html' %}
{% load static %}
{% block image %}{% endblock %}
{% block cytat %}{% endblock %}
{% block content %}

<div class="main_podstrony">
    {% block podstrona %}
    <h3 class="mb-5 float-left">Dostępne oferty</h3>
    {% for oferta_i in oferty %}
    <a href="{% url 'oferta' oferta_i.id %}">
      <div class="card mb-4 round_card">
          <img class="zdjecie_list_ofert" src="{{ oferta_i.zdjecie_glowne.url }}" alt="Card image cap">
          <div class="oferty_inside_card">{{ oferta_i.tytul }}</div>
      </div>
    </a>
    {% endfor %}

    {% endblock %}
</div>

{% endblock %}